@font-face {
    font-family: 'nova-reg';
    src: url('../assets/fonts/FontsFree-Net-ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nova-sbold';
    src: url('../assets/fonts/FontsFree-Net-Proxima-Nova-Sbold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nova-bold';
    src: url('../assets/fonts/FontsFree-Net-Proxima-Nova-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockwen';
    src: url('../assets/fonts/rockwen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lm-reg';
    src: url('../assets/fonts/LEMONMILK-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

