@import "./generic/mixins.scss";
@import "./generic/fonts.scss";
@import "./generic/variables.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
  border: none;
}
//common css start
body {
  font-family: $font-family-regular !important;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  background-color: #000 !important;
  // color: #000;
}
.no_padding{
  padding-left: 0px;
  padding-right: 0px;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}
@include screen(mobile) {
  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    padding-inline-start: 12px;
  }
}


// hide captcha


.page-wrapper{
  padding-top: 80px;
  background-color: $white;
  color: $black;
}
// global styles
.kp-container{
  // @include res-styles($container-styles);
  @include res-styles($global-margin-padding);
}
p{
  @include res-styles($p-font-size)
}
.flex{
  display: flex;
  align-items: center;
}
.h2-heading{
  @include res-styles($h2-font-size);
}




.heading{
  text-align: center;
font-size: 35px;
font-family: $font-family-lmRegular;
letter-spacing: 0px;
color: #fff;
// text-shadow: 0px 2px 4px #00000080;
@include screen("mobile") {
      font-size: 20px;
}
}
.row{
  margin: 0px;
}