.privacy-block {
  .h2-heading {
    @include res-styles($h2-font-size);
    @include res-styles($each-component-heading-margin);
    margin-top: $widgetMargin-for-desktop;
    font-family: $font-family-bold;
    display: block;
    @include screen('mobile'){
      margin-top: $widgetMargin-for-mobile;
    }
  }
  ul{
    li{
      &:first-child{
        .heading{
          margin-top: 0;
        }
      }
      .heading {
        font-family: $font-family-bold;
        margin: 10px 0;
        display: block;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        color: $black;
        text-transform: uppercase;
        @include screen('mobile'){
          @include res-styles($card-title-font-size);
        }
      }
    }
  }
  ol li {
    font-family: $font-family-regular;
    list-style-type: decimal;
    @include res-styles($p-font-size);
    li {
      list-style-type: lower-roman;
      li {
        list-style-type: lower-alpha;
      }
    }
  }
}

// refer and earn
.refer-banner{
  background: transparent linear-gradient(91deg, #2E2C2C 0%, #000000 100%) 0% 0% no-repeat padding-box;
  .heading{
    font-family: $font-family-bold !important;
  }
}
.header-block{
  margin: 20px 0;
  @include screen(mobile) {
    margin: 10px 0;
  }
  p{
    @include res-styles($p-font-size);
  }
}
.card-layout {
  background: $white padding-box;
  // box-shadow: 0px 10px 20px #00000029;
  border-radius: 32px;
  padding: 2vw;
  border: 0;
  margin-bottom: 2vw;
  box-shadow: 0 1px 3px #b7b7b740, 0 1px 2px #98989838;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover{
    box-shadow:0 14px 20px #b7b7b740, 0 10px 20px #98989838;
  }
  @include screen(mobile){
    border-radius: 15px;
    padding: 3vw;
  }
  .heading{
    @include res-styles($card-title-font-size);
    @include screen('mobile'){
      font-size: 18px;
    }
  }
  .toggle-btn{
    margin-top: 20px;
    border-bottom: 2px solid #FF7D38;
    display: inline-block;
    padding: 5px 0px;
    cursor: pointer;
  }
}
.step-title,.step-desc{
  @include res-styles($p-font-size)
}
.step-block{
  margin-bottom: 10px;
}