.about_us{
  background-size: cover;
  background-position: top center;
  height: 750px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
        @include screen("mobile") {
            padding: 0px;
            // height: 640px;
            .heading {
                font-size: 20px;
            }
          }
        .main {
          width: 50vw;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: center;
            @include screen("mobile") {
              width: 83vw;
            }
            .section{
                background-size: cover;
                background-position: center center;
                // height: 490px;
                width: 100%;
                @include screen("mobile") {
                    padding: 0px;
                    height: 490px;
                  }
                .middle_section{
                    background-size: cover;
                    background-position: center center;
                    height: 440px;
                    width: 100%;
                    margin-left: -25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 110px;
                    @include screen("mobile") {
                        padding: 48px;
                        height: 525px;
                        margin-left: 0px;
                        font-weight: 100;
                      }
                   
                    .ext{
                        transform: matrix(0.99, -0.1, 0.1, 0.99, 0, 0);
                        text-align: left;
                        font-size: 18px;
                        font-family: $font-family-regular;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        text-shadow: 0px 2px 4px #00000080;
                        line-height: 35px;
                        @include screen("mobile") {
                            font-size: 14px;
                            line-height: 22px;
                            text-shadow: none;
                            transform: matrix(0.99, 0.1, -0.1, 0.99, 0, 0);
                            font-weight: 100;
                            letter-spacing: 0px;
                          }
                    }  
                }
            }
        }
 
}